

.inputs-container{
padding-left: 50px !important;
}

.inputCustom input, .textArea, .inputCustom select{
background-color: #F5F5F5;
border: none;
height: 54px;
border-bottom: 1px solid #666666;
border-radius: 3px 3px 0 0;
} 

.inputCustom input:focus{
box-shadow: none;
background: #F5F5F5;
border-color: #666666;
}

.textArea:focus-visible{
  overflow: hidden;
  outline: none;
}

.textArea{
width: 100%;
height: 80px;
}


.customSelect{
min-height: 61px;
}

.upload-img img{
right: 24px;
top: 14px;
width :18px;
height :20px;
}

.small-charac{
font-size: 14px;
color: #666666;
padding-inline: 10px;
}

.main-headings{
font-size:20px; 
line-height: 37px;
color: #02353C;
}

.active-info{
color: #1BC000;
}

.active-info:focus{
box-shadow: none;
outline: none;
border: #666666;
}

.active-status span{
top: 0px;
left: 14px;
font-size: 14px;
color: #666666;
}

.textArea{
padding: 15px;
}


.file-input::file-selector-button{
  border-color: #F5F5F5 !important;
  background-color: #F5F5F5 !important ;
  color: #666666 ;
  /* font-size: 0px; */
}

.file-label{
top: 0px !important;
}

.input-group-append {
  cursor: pointer !important;
}


.date-inputes{
background: #F5F5F5;
border: none;
height: 54px;
border-bottom: 1px solid #666666;
border-radius: 3px 3px 0 0;
z-index: 0 !important;

}

.date-inputes .input-group {
margin-bottom: 0px !important;
}


.date-inputes:focus{
background-color: #F5F5F5;
border-color: #666666;

}

.date-parent button{
display: none;
}

.date-parent div{
margin-bottom:0px !important;
}


.h3-headings{
margin-bottom: 0px;
}


.form-container{
max-width: 820px;
}

.inputCustom select {
    background-image: url("../../assets/images/select-icon.png");
    background-size: 10px;
    color: #666666;
}

.inputCustom select:focus{
box-shadow: none;
border-color: #666666;
}

.active-info{
    background-image: url("") !important;
color: #1BC000 !important;
}

.inputSelect{
padding-top: 22px;
}

.inputlabel{
font-size: 14px;
color: #666666;
top: 4px;
  left: 25px;
}


    


@media (max-width:607px) {
.input-program p {
text-align: center;
}
.inputs-container{
margin-top: 0px !important;
}

}


@media (max-width:860px){
  .inputs-container{
padding-inline: 8px !important;
padding-left: 0px;
}
}