


body{
background: #02353C0F;
font-family: "Anek Bangla", sans-serif;
}

.bg-gradient{
    background: #02353C !important;
    background: linear-gradient(to right, #02353C, #2EAF7D) !important;
    padding-block: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 4px solid #6ebebc;
}

.header-searchInput{
width: 421px;

}

.navcustom input{
  max-width: 421px;
border-radius: 25px 25px 25px 25px;
height: 40px;
border: none;
padding-left: 25px;

}

.navcustom input::placeholder{
color: #CCCCCC;

}

.navcustom input:focus{
box-shadow: none;
border-color: #0f6142;
}


.admin{
gap: 8px !important;
}

.admin img{
height: 40px;
width: 40px;
margin-right: 5px;
}

.admin span{
font-size: 15px;
margin-inline: 5px;
}

.admin i {
font-size: 12px;
margin-right: 5px;
}


.sidebar-heading a{
padding-inline: 15px !important;
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}
.sidebar-heading li a span{
color: #02353C;
/* font-size: 16px; */
line-height: 29px;
transition: 100ms all;
}

.svgcustom{
fill: #02353C;
}

.cardflex {
margin-bottom: 10px;
}
.side-heading{
height: 40px;
width: 100%;
display: flex;
}


.side-heading:hover{
    background: #02353C !important;
    background: linear-gradient(to right, #021A1E, #299B6F) !important;
    border-radius:6px 6px 6px 6px;
    color: white;
    padding-right: 73px;
    width: 100%;
    display: flex;
}

  

.sidebar-body{
/* max-width: 262px; */
width: 96px !important;
position:sticky;
top: 0 ;
transition:300ms all ;
}


.sidebar-body:hover .main-content-body{
 margin-left: 203px !important;
}
.sidebar-body:hover .main-content-body:hover{
 margin-left: 36px !important;
}

/* .sidebar-body:hover{
margin-right: 203px;
} */


/* .sidebar-body:hover {

width: 262px !important;

} */


.open-sidebar-animation:hover{
width: 262px !important;
}



/* .open-sidebar-animation{

  animation-name: animation1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  transform-origin: left;

}


@keyframes animation1 {
  from{
  transform: scaleX(0);
}
to{
  transform: scaleX(1);
}

} */


.sidebar-body:hover .mobilesidebar-heading{
font-size: 16px;
}

.sidebar-body:hover .side-heading:hover{
   border-radius:25px 25px 25px 25px;
}

.side-heading:hover span{
 color: white;
}

.side-heading:hover .svgcustom{
 fill: white;
}


.add-program-btn{
background-color: #3FD0C9;
padding-inline: 18px;
padding-block: 4px;
border-radius: 25px 25px 25px 25px;
line-height: 29px;
font-size: 16px;
/* height: 38px ; */
}

.add-program-btn:hover{
background-color: #34a59f;

}
.add-program-btn i{
font-size: 12px;
}

.program-heading, a, i{
  font-size: 13px !important;
line-height: 24px;
text-decoration: none;
}

.program-heading a:hover{
text-decoration: underline;
}


.input-program h3{
font-size: 34px;
line-height: 49px;
color: #02353C;
font-weight: 700;
}
.input-program input{
max-width: 298px;
border-radius: 25px 25px 25px 25px;
border: 1px solid rgb(77, 76, 76) !important;
height: 40px ;

}
.input-program input::placeholder{
color: #757575;
}

.input-program input:focus{
box-shadow: none;
border-color: green;
} 


.program-input-div{
max-width: 298px;
}

.program-input-div input{
padding-left: 20px;
padding-right: 44px;
}

.searchicon{
top: 10px;
right: 18px;
font-size: 20px !important;
cursor: pointer;
}



.greenBtn{
 background: #1ED800; 
color: white;
font-size: 14px;
width: 102px;
padding-block: 3px;
padding-inline:5px;
border-radius: 25px 25px 25px 25px;
height: 28px;

}
.greenBtn:hover{
 background: #1aa305; 
color: white;
}

.mobile-toggle i {
cursor: pointer;
}


.hamburger-icon{
font-size: 20px !important;
color: white;
display: none;
cursor: pointer;
}

.cardBody h4{
font-size: 16px;
font-weight: 600;
line-height: 29px;

}


.cardBody{
background-color:#02353C0F;
padding-block: 30px;
border-radius:6px;
padding-left: 30px;
padding-right: 5px;
border: none;
border-right: 8px solid #c2cecc !important;
}



.main-content-body{
margin-inline: 37px;
margin-left: 35px;
 min-height: 100vh;
padding-inline: 0px;
}

.cards-outer-body{
margin-inline: 1.5rem;
} 

.mobilesidebar-heading{
font-size: 0px;
}





.card-btn{
border-radius: 25px 25px 25px 25px;
color: white;
padding-block: 3px;
width: 90px;
display: flex;
justify-content: center;
align-items: center;
font-size: 14px;
}

.btn-green{
background: #1ED800; 

}
.btn-green:hover{
background: #1aa305; 
color: white;
}

.dark-green-btn{
 background: #02353C;

}
.dark-green-btn:hover{
 background: #045d69;
color: white;

}

.card-title{
color: #02353C;
font-weight: 700;
font-size: 20px;
font-family: "Inter", sans-serif;
}


.amount{
font-weight: 600;
}

.amount span{
color: #02353C;
margin-right: 10px;
}

.mobile-sidebar-header{
width: 100% ;
}

.mobile-sidebar-menu{
position: fixed;
}

/* .slideXanimation{
  animation-name: animation1; 
  animation-duration: 200ms;
  animation-timing-function:ease;
  transform-origin: left ; 

}



@keyframes animation1 {
  from{
  transform: scaleX(0);
}
to{
  transform: scaleX(1);
}

} */




.menu-dropdown{
  top: 100%;
  left: -30px !important;
  top: 34px !important;
}

.dropdown-style::after{
background-image: url("../../assets/images/dropdown-icon.svg");
content: "";
border: 0;
/* background-size: 20px; */
background-repeat: no-repeat;
width: 20px;
height:11px;
background-position:center;
position: relative;
top: 5px;
}

.admin-name{
font-size: 14px !important;
line-height: 26px ;
}

@media (max-width:860px) {
    .navcustom .header-searchInput {
display: none;
}
.logo-farm{
width: 100px;
}

.sidebar-body{
transform: translateX(0%);
}
.sidebar-toggle{
transform: translateX(-100%);
}
.main-top-header {
padding-inline:0px !important;
}

.main-content-body {
padding-inline: 10px;
}

.add-program-btn{

padding-inline: 15px;
padding-block: 6px;
line-height: 20px;
font-size: 13px;
}
.add-program-btn i{
font-size: 8px;

}
.input-program h3{
font-size: 28px;
line-height: 40px;

}
.hamburger-icon{
display: block;
}

.sidebar-body:hover{
width: 100% !important;
}



.sidebar-body{
width: 100% !important;

}


.mobilesidebar-heading{
font-size: 16px;
}


.mobile-sidebar-menu{
padding-inline: 0px !important;
width: 100%;
}



.sidebar-body {
  max-width: 100%;
  position: fixed !important;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  padding-top: 0px;
}

.main-content-body{
margin-inline: 0px !important;

}

.mobilesidebar-heading{
display: block !important;
}


.sidebar-heading{
margin-left: 0px !important;
align-items: start !important;
padding-inline:10px;
width: 100%;
}

.mobile-sidebar-header{
display: block !important;
}

.navcustom input{
max-width: 100% ;
}

.header-searchInput {
width: 100% !important;

}

.mobile-sidebar-header{
padding-inline: 10px;
}

.cards-outer-body {
  margin-inline: 0px;
}


.input-program{
padding-inline:0px !important;
}
}

@media (max-width:1350px) {
    .sidebar-heading a{
padding-inline: 25px !important;
}
}

@media (max-width:630px) {
.main-top-header{
display: flex !important;
flex-direction: column;
align-items: center !important;
gap: 5px;
}

.input-program h3{
font-size: 20px;
line-height: 30px;

}
.input-program{
display: flex;
flex-direction: column;
align-items: center;
}

.card-btn{
margin-right: 8px;
width: 75px;
}

.program-input-div{
width: 100% !important;
}
.cardBody{
padding-block: 10px;
border-radius: 6px;
padding-left: 10px;
padding-right: 10px;
}
.cardflex{
margin-bottom: 7px !important;
gap: 5px !important;
}
.cardBody h4 {
  font-weight: 600;
  line-height: 20px ;
}
.greenBtn{
width: 92px;
padding-block: 2px;
padding-inline: 0px;
}
}

@media (max-width:1078px) and (min-width:991px) {
   .cardBody{
padding-left: 10px;
} 
}

@media (max-width:374px) {
    .add-program-btn{

padding-inline: 8px;
padding-block: 6px;

line-height: 14px;
font-size: 10px;
}




/* .add-program-btn i{
font-size: 5px;
} */
/* .program-heading, a, i{
  font-size: 10px !important;
line-height: 16px;
text-decoration: none;
} */
/* .main-content-body{
margin-inline: 8px !important;
} */
.main-content-body{
padding-inline: 10px !important;
}
.input-program input {
    font-size: 13px !important;

}
.searchicon{
/* top: 9px;
right: 18px;
font-size: 20px !important; */
height: 19px ;
}

}


@media (max-width:575px) {
.admin .name, .name-down-arrow{
display: none ;
}
.menu-dropdown{
 left: 106px !important;
}

}